*.iml
.gradle
/local.properties
/.idea
/.idea/caches
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
buildSrc/build/*
buildSrc/.gradle/*

core/build/*
network/build/*
